.ribbon-box {
    position: static !important;
}

.ribbon-corner {
    display         : flex;
    float           : right;
    font-size       : 12px;
    text-transform  : uppercase;
    font-weight     : bold;
    color           : #ffffff;
    letter-spacing  : 2px;
    background-color: #1e8ee9a8;
    padding         : 16px 10px;
    box-shadow      : 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.ribbon-text {
    display      : flex;
    float        : right;
    border-top   : 25px solid #1e8ee9a8;
    border-bottom: 25px solid #1e8ee9a8;
    border-left  : 25px solid transparent;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px #6c757d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background   : #4b545c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #343a40;
}